#logo{
    width: 200px;
}
.header{
    background-image: url('img/pattern.png');
    background-color: rgb(56, 169, 221);
    background-size: contain;
    width: 100%;
}

.subtitolo{
    font-size: 30px;
}
#infotitolo{
    color: gray;
}
#testoblu{
    color: rgb(56, 169, 221);
}
#datascrittura{
    font-size: 12px;
}